body {
  .btn-info{

  }
  .instruction {
    img {
      margin: auto;
      display: flex;
    }
  }
  .card-hot-video {
    .card-block {
      .card-text {
        position: absolute;
        bottom: 45px;
        color: white;
        font-weight: 600;
        font-size: 16px;
        background: #0000005e;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: calc(100% - 30px);
        cursor: pointer;
        .btn-play{

        }
      }
    }
  }
 .list-video-suggest{
   a{
     img{

     }
     .btn-play {
       position: absolute;
       height: 100%;
       top: 0;
       width: calc(100% - 30px);
       display: none;
       i {
         font-size: 50px;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         background: #00000038;
       }
     }
     &:hover{
       .btn-play{
         display: block;
         transition: 1s;
       }
     }
   }
 }
  .pagination{
    display: flex;
    justify-content: center;
    li{
      margin-right: 5px;
    }
  }
}